body{
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
}
.box{
    margin: 10vh 0vh 2vh 0vh;
}
.details{
    margin: auto;
    background-color: rgb(20, 20, 20);
    color: white;
    width: 63%;
    height: fit-content;
}
.j{
    font-size: 4vh;
}
.line{
    font-size: 5vh;
}
.name{
    letter-spacing: 1vh;
}
.menu{
    margin-top: 44px;
    list-style: none;
    padding: 0px;
    display: flex;
}
.top_bar{
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.menu li{
    padding: 0px 2vh;
}
.menu li a{
    color: white;
    text-decoration: none;
    font-weight: lighter;
}
.video{
    position: absolute;
    width: 63%;
    opacity: 0.3;
}
.hello{
    padding: 10%;
    font-size: clamp(1rem, -0.875rem + 8.333333vw, 7.5rem);
    
}


@media only screen and (max-width: 800px) {

    .top_bar{
        display: block;
        align-items: center;
        text-align: center;
        margin: auto;
    }
    .menu{
        position: relative;
        justify-content: center;
    }
    .details{
        width: 90%;
    }
    .video{
        width: 90%;
    }

  }