body{
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
}
.box{
    margin: 10vh 0vh 0vh 0vh;
}
.details{
    margin: auto;
    background-color: rgb(20, 20, 20);
    color: white;
    width: 63%;
    height: 250vh;
}
.j{
    font-size: 4vh;
}
.line{
    font-size: 5vh;
}
.name{
    letter-spacing: 1vh;
}
.menu{
    margin-top: 44px;
    list-style: none;
    padding: 0px;
    display: flex;
}
.top_bar{
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.menu li{
    padding: 0px 2vh;
}
.menu li a{
    color: white;
    text-decoration: none;
    font-weight: lighter;
}
.video{
    position: absolute;
    width: 63%;

}
.hello{
    position: relative;
    top: 10vh;
    padding: 10%;
    font-size: clamp(1rem, -0.875rem + 8.333333vw, 7.5rem);
    
}

.intro{
    position: relative;
    top: 5vh;
    padding: 7% 11% ;
}
.thought{
    position: relative;
    top: 1vh;
    padding: 0px 11%;
}
.i_am{
    font-size: clamp(1rem, -0.875rem + 8.333333vw, 1.2rem);
    font-weight: bold;
}
.name{
    font-size: clamp(1rem, -0.875rem + 8.333333vw, 2rem);
    letter-spacing: 5px;
}

.footer{
    padding: 5vh;
    display: flex;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-around;
}

.footer_menu ul, .links_menu ul{
    list-style: none;
    padding: 0px;
}
.links_menu ul{
    display: flex;
}
.footer_menu ul li a, .links_menu ul li a{
    color: black;
    text-decoration: none;
}
.links_menu ul li{
    padding: 0px 10px;
}

.send_border{
    border-bottom: 1px solid rgba(128, 128, 128, 0.267);
}
.send_input{
    font-size: clamp(1rem, -0.875rem + 8.333333vw, 1.2rem);
    padding: 10px;
    border: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 4px;
}
.send_input:focus{
    outline: none;
}
.subscribe{
    border:none;
    padding: 10px;
    font-size: clamp(1rem, -0.875rem + 8.333333vw, 1rem);
    background-color: rgb(0, 255, 128);
    border-radius: 5px;
    color: black;
}
.bbb{
    display: flex;
    align-items: center;
}
.section_two{
    margin-top: 30vh;
}

.artical{
    text-align: center;
    font-size: clamp(1rem, -0.875rem + 8.333333vw, 3rem);
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0.103);
    
}
.subtask{
    display: flex;
    padding: 20px;
}

.docs{
    flex: 5;
}
.artica{
    flex: 5;
}
.doc ul{
 list-style: none;
 padding: 0px;
}
.doc ul li{
    padding: 10px;
    transition: 500ms;
}
.doc ul li a{
    color: white;
    text-decoration: none;
}
.doc ul li:hover{
    transform: scale(1.02);
}
.description{
    width: 80%;
}
.heading{
    text-align: left;
}


.hr{
    border: 0px;
    height: 1px;
    background-color: rgba(240, 248, 255, 0.144);
    width: 25%;
    position: absolute;
    text-align: left;
}
.ss{
    font-size: clamp(1rem, -0.875rem + 8.333333vw, 3rem);
}
.sss{
    text-align: center;
}
@media only screen and (max-width: 800px) {

    .top_bar{
        display: block;
        align-items: center;
        text-align: center;
        margin: auto;
    }
    .menu{
        position: relative;
        justify-content: center;
    }
    .details{
        width: 100%;
    }
    .video{
        width: 100%;
    }
    .intro{
        position: relative;
        top: 7vh;
        padding: 7% 10.5% ;
    }
    .thought{
        position: relative;
        top: 5vh;
        padding: 0px 10.5%;
    }
    .i_am{
        font-size: clamp(1rem, -0.875rem + 8.333333vw, 1rem);
        font-weight: bold;
    }
    .name{
        font-size: clamp(1rem, -0.875rem + 8.333333vw, 1rem);
    }
    .download{
        padding: 5px 10px;
    }
    .button_resume{
        top: 5.5vh;
        padding: 0px 10.5%;
    }
    .footer{
        display: block;
        text-align: center;
    }
    .bbb{
        position: relative;
        justify-content: center;
    }
    .links_menu ul{
        position: relative;
        justify-content: center;
    }
    .content{
        text-align: center;
    }
    .subtask{
        display: block;
        padding: 20px;
        text-align: center;
    }
    .description{
        text-align: left;
        width: fit-content;
    }
    .hr{
        position: relative;
        width: 100%;
    }
    .section_two{
        margin-top: 25vh;
    }
    .artica{
        margin-top: 10vh;
    }
  }